.back
  | Back //

.detail
  .title
    | Luke Skywalker
  .content
    ul
      li
        .left
          | STATS
        .right
          | 100 units
      li
        .left
          | STATS
        .right
          | 100 units
      li
        .left
          | STATS
        .right
          | 100 units
    .mid
      .cutout
      .cutout
      .cutout
    ul
      li
        .left
          | STATS
        .right
          | 100 units
      li
        .left
          | STATS
        .right
          | 100 units
      li
        .left
          | STATS
        .right
          | 100 units
      li
        .left
          | STATS
        .right
          | 100 units
