<!--<ul>
  <li ng-repeat="swapi in vm.swapis">
    <a ng-click="vm.inspect(swapi.$id)">{{ swapi.name }}</a>
  </li>
</ul>
<form name="form" ng-submit="vm.save(form)">
  <div class="name">
    <input name="name" ng-model="vm.swapi.name" placeholder="Name" required="required" type="text"/>
    <div class="error" ng-show="form.name.$invalid &amp;&amp; form.name.$touched">
      <p>Please enter a name</p>
    </div>
  </div>
  <button ng-disabled="form.$invalid" type="submit">Save</button>
  <button ng-click="vm.remove()" ng-show="vm.swapi.$id">Remove</button>
  <button ng-click="vm.create()">New</button>
</form>
-->
<nav class="search">
  <input type="text" placeholder="Search..."/ ng-model="searchFilter">
</nav>
<section class="list">
  <div class="subtitle">People - {{vm.people.count}}</div>
  <div class="slider">
    <div class="left" slide-left>
      <p>&#60;</p>
    </div>
    <div class="box">
      <ul>
        <a ui-sref="base.person({id: id})" ng-repeat="(id, person) in vm.people.results | filter: searchFilter">
          <li>
            <div class="disp">{{vm.initials(person.name) | limitTo: 2}}</div>
            <div class="name">{{person.name | limitTo: 22}}</div>
            <div class="detail">{{person.birth_year}}</div>
            <div class="cutout"></div>
          </li>
        </a>
      </ul>
    </div>
    <div class="right" slide-right>
      <p>&#62;</p>
    </div>
  </div>
</section>
<section class="list">
  <div class="subtitle">Starships - {{vm.starships.count}}</div>
  <div class="slider">
    <div class="left" slide-left>
      <p>&#60;</p>
    </div>
    <div class="box">
      <ul>
        <a ui-sref="base.starship({id: id})" ng-repeat="(id, starship) in vm.starships.results | filter: searchFilter">
          <li>
            <div class="disp">{{vm.initials(starship.name) | limitTo: 2}}</div>
            <div class="name">{{starship.name | limitTo: 22}}</div>
            <div class="detail">Speed: {{starship.max_atmosphering_speed}}</div>
            <div class="cutout"></div>
          </li>
        </a>
      </ul>
    </div>
    <div class="right" slide-right>
      <p>&#62;</p>
    </div>
  </div>
</section>
<section class="list">
  <div class="subtitle">Planets - {{vm.planets.count}}</div>
  <div class="slider">
    <div class="left" slide-left>
      <p>&#60;</p>
    </div>
    <div class="box">
      <ul>
        <a ui-sref="base.planet({id: id})" ng-repeat="(id, planet) in vm.planets.results | filter: searchFilter">
          <li>
            <div class="disp">{{vm.initials(planet.name) | limitTo: 2}}</div>
            <div class="name">{{planet.name | limitTo: 22}}</div>
            <div class="detail">Diameter: {{planet.diameter}}</div>
            <div class="cutout"></div>
          </li>
        </a>
      </ul>
    </div>
    <div class="right" slide-right>
      <p>&#62;</p>
    </div>
  </div>
</section>
