<!--<ul>
  <li ng-repeat="swapi in vm.swapis">
    <a ng-click="vm.inspect(swapi.$id)">{{ swapi.name }}</a>
  </li>
</ul>
<form name="form" ng-submit="vm.save(form)">
  <div class="name">
    <input name="name" ng-model="vm.swapi.name" placeholder="Name" required="required" type="text"/>
    <div class="error" ng-show="form.name.$invalid &amp;&amp; form.name.$touched">
      <p>Please enter a name</p>
    </div>
  </div>
  <button ng-disabled="form.$invalid" type="submit">Save</button>
  <button ng-click="vm.remove()" ng-show="vm.swapi.$id">Remove</button>
  <button ng-click="vm.create()">New</button>
</form>
-->
<nav class="search"><input type="text" placeholder="Search..."/></nav>
<section class="list">
  <div class="subtitle">People</div>
  <div class="slider">
    <div class="left">
      <p></p>
    </div>
    <div class="box">
      <ul>
        <a href="#">
          <li>
            <div class="disp">LS</div>
            <div class="name">Luke Skywalker</div>
            <div class="detail">19 BBY</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">LS</div>
            <div class="name">Luke Skywalker</div>
            <div class="detail">19 BBY</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">LS</div>
            <div class="name">Luke Skywalker</div>
            <div class="detail">19 BBY</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">LS</div>
            <div class="name">Luke Skywalker</div>
            <div class="detail">19 BBY</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">LS</div>
            <div class="name">Luke Skywalker</div>
            <div class="detail">19 BBY</div>
            <div class="cutout"></div>
          </li>
        </a>
      </ul>
    </div>
    <div class="right">
      <p>></p>
    </div>
  </div>
</section>
<section class="list">
  <div class="subtitle">Starships</div>
  <div class="slider">
    <div class="left">
      <p></p>
    </div>
    <div class="box">
      <ul>
        <a href="#">
          <li>
            <div class="disp">DS</div>
            <div class="name">Death Star</div>
            <div class="detail">10 MGLT</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">DS</div>
            <div class="name">Death Star</div>
            <div class="detail">10 MGLT</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">DS</div>
            <div class="name">Death Star</div>
            <div class="detail">10 MGLT</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">DS</div>
            <div class="name">Death Star</div>
            <div class="detail">10 MGLT</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">DS</div>
            <div class="name">Death Star</div>
            <div class="detail">10 MGLT</div>
            <div class="cutout"></div>
          </li>
        </a>
      </ul>
    </div>
    <div class="right">
      <p>></p>
    </div>
  </div>
</section>
<section class="list">
  <div class="subtitle">Planets</div>
  <div class="slider">
    <div class="left">
      <p></p>
    </div>
    <div class="box">
      <ul>
        <a href="#">
          <li>
            <div class="disp">T</div>
            <div class="name">Tatooine</div>
            <div class="detail">Arid</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">T</div>
            <div class="name">Tatooine</div>
            <div class="detail">Arid</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">T</div>
            <div class="name">Tatooine</div>
            <div class="detail">Arid</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">T</div>
            <div class="name">Tatooine</div>
            <div class="detail">Arid</div>
            <div class="cutout"></div>
          </li>
        </a>
        <a href="#">
          <li>
            <div class="disp">T</div>
            <div class="name">Tatooine</div>
            <div class="detail">Arid</div>
            <div class="cutout"></div>
          </li>
        </a>
      </ul>
    </div>
    <div class="right">
      <p>></p>
    </div>
  </div>
</section>
